extends ../master/layoutblocks
- $home = session('home');

block additional_css
    link(rel="stylesheet", href=session('cssUrl').'stripe_global.css')

block additional_scripts 
    script(src="https://js.stripe.com/v3/")
    script(src=session('appService')."stripe_checkout.js")

block content
    .spacer-4
    .content-section.equally-spaced-1
        if $sessionId
            form.horizontal-center
                button(id="checkout-button", data-secret="{$sessionId}", public-key="{$publicKey}")
                    .textcolor0.medium-text Check out

