extends ../master/layoutblocks
- $home = session('home');

block additional_css
    link(rel="stylesheet", href=session('cssUrl').'stripe_global.css')

block additional_scripts 
    script(src="https://js.stripe.com/v3/")
    script(src=session('appService')."stripe_client.js")
  
block content
	.spacer-4 
	.content-section.equally-spaced-1
			form(id="payment-form").horizontal-center
				.form-row
					#card-element
					p(id="card-error", role="alert")
					
				button(id="submit", data-secret="{$clientSecret}", public-key="{$publicKey}")
					#spinner.spinner.hidden
					span(id="button-text").textcolor0.medium-text Pay
				p.result-message.hidden Payment succeeded