- $variables = get_defined_vars()?? array();
- $globals = array('app_root' => APP_CLIENT, 'service_root' => APP_SERVICE_ROOT, 'app_resources' => APP_RESOURCES, 'request' => request(), 'apiKey' => API_KEY);
- $token = array('token'=> session('token'));
- $home = array('home' => session('home'));
- $keywords = array('keywords' => keywords());
- $metadata = array('metadata' => metadata());
- $copyright = array('copyright' => copyright());
- $env = sizeof($variables) > 2? array_slice($variables, 2) : array();
- $env = json_encode(array_merge($env, $globals, $token, $home, $keywords, $metadata, $copyright));
- $path = PUBLIC_PATH;

if $app && $appName
    - $path = PUBLIC_PATH.$appName."/".$app.'.php';
else
    p You need to define a client app in order to be able to use this service

- try { 
    . include($path); 
    . } catch (exception $e) { 
    .    echo "This client app does not exist. Make sure you create in the public folder or use Caligrafer from the console to help you do that";
    . }